<% unless comment.archived? %>
  <p>
    <strong><%= t('comment.commenter') %></strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong><%= t('comment.self') %></strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to t('actions.delete'), [comment.article, comment], data: {
      turbo_method: :delete,
      turbo_confirm: t('form_confirmation')
    } %>
  </p>
<% end %>
