<%= simple_form_for [@article, @article.comments.build] do |form| %>
  <div>
    <%= form.input :commenter %>
  </div>
  <br>
  <div>
    <%= form.input :body %>
  </div>
  <br>
  <div>
    <%= form.input :status, label: t('comment.form.status'),
                   collection: {
                     t('article.form.statuses.pub') => 'published',
                     t('article.form.statuses.hidden') => 'hidden',
                     t('article.form.statuses.archived') => 'archived',
                   },
                   selected: :public %>
  </div>
  <%= form.button :submit %><br>
<% end %>
