<%= simple_form_for @article do |form| %>
  <div>
    <%= form.input :title %>
  </div>
  <br>
  <div>
    <%= form.input :body %>
  </div>
  <br>
  <%= form.input :status, :collection => %w[public private archived], selected: 'public' %><br>
  <%= form.button :submit, "Submit" %><br>
<% end %>
