<%= simple_form_for @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.input_field :title %>
  </div>
  <br>
  <div>
    <%= form.label :body %><br>
    <%= form.input_field :body %>
  </div>
  <br>
  <%= form.input :status, :collection => %w"public private archived", selected: 'public' %><br>
  <%= form.button :submit, "Submit" %><br>
<% end %>
