<div class="container">
  <%= simple_form_for(@article) do |form| %>
    <%= form.input :title %>
    <%= form.input :body, as: :text %>
    <%= form.input :status,
                   as: :select,
                   collection: {
                     t('article.form.statuses.pub') => 'published',
                     t('article.form.statuses.hidden') => 'hidden',
                     t('article.form.statuses.archived') => 'archived',
                   },
                   label: t('article.form.status'),
                   selected: 'published',
                   disabled: @article.persisted? %>
    <div class="py-3 d-flex justify-content-between">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
