<%= simple_form_for @article do |form| %>
  <% invalid = @article.errors.include?(:title) %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title%>
    <% if invalid %>
      <div>
        <% @article.errors.full_messages_for(:title).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>
  <% invalid = @article.errors.include?(:body) %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body%><br>
    <% if invalid %>
      <div>
        <% @article.errors.full_messages_for(:body).each do |error_message| %>
          <%= error_message %>.
        <% end %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.input :status, :collection => %w[public private archived], selected: 'public' %>
  </div>

  <div>
    <%= form.submit "Submit"%>
  </div>
<% end %>
