<%= simple_form_for @article do |form| %>
  <div>
    <%= form.input :title %>
  </div>
  <br>
  <div>
    <%= form.input :body %>
  </div>
  <br>
  <div>
    <%= form.input :status, label: t('article.form.status'),
                   collection: {
                     t('article.form.statuses.pub') => 'published',
                     t('article.form.statuses.hidden') => 'hidden',
                     t('article.form.statuses.archived') => 'archived',
                   },
                   selected: :published %>
  </div>
  <%= form.button :submit %><br>
<% end %>
