<div class="container d-flex justify-content-between align-items-center py-3">
  <h1><%= t('article.articles') %></h1>
  <%= link_to model_action('article', 'create'),
              new_article_path,
              class: "btn btn-primary",
              data: { turbo_frame: 'modal' } %>
</div>

<div class="container">
  <%= t('article.pluralization', count: Article.published_count) %>
</div>
<% @articles.each do |article| %>
  <div class="list-group py-1">
    <div class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex justify-content-between">
        <h3 class="text-truncate"><%= link_to article.title, article, class: "link-underline link-underline-opacity-0" %></h3>
      </div>
      <p class="text-truncate"><%= article.body %></p>
    </div>
  </div>
<% end %>
