<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
  <li><%= link_to t('actions.edit'), edit_article_path(@article) %></li>
  <li><%= link_to t('actions.delete'), article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: t('form_confirmation')
  } %></li>
</ul>

<h2><%= t('comment.comments') %></h2>
<%= render @article.comments %>

<h2><%= t('comment.comments') %></h2>
<%= render 'comments/form' %>
